.singleProduct {
  height: auto;
  padding: 0;
  margin: 5rem 1rem;
  background: #fff;

  @include FlexCenter(column, nowrap, 50px);

  &__left {
    padding: 1em;
    flex: 0 0 360px;
    height: 50%;

    img {
      max-width: 85%;
    }
  }

  &__right {
    height: auto;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 2rem;
    text-align: start;

    &__title {
      color: $bg-color-primary;
      font-size: 1.75rem;
      font-weight: 500;
      padding: 0.6rem;
      margin-bottom: 2rem;
    }
    &__description {
      // position: relative;
      margin-top: 0.5rem;
      text-indent: 1.8%;
      h5 {
        font-size: 30px;
        margin-bottom: 1em;
        word-break: normal;
        font-weight: 400;
      }
      p {
        line-height: 1.4em;
        font-weight: 400;
        font-size: 16px;
        font-family: $font-family;
        word-break: break-word;
      }
    }

    &__itemCount {
      padding: 1em;
    }
  }
}

.btn-BuyNow {
  @include btn-primary(1.2em);
}
