/* Variables*/
/*Variables*/
/* Global Variables*/
/* Buttons */
/* Mixins*/
/* Responsive*/
/* Resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Componentes*/
header {
  height: auto;
  background: transparent;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .btn-primary:hover {
    background-color: #159957;
    border: 0.1em solid #155799;
  }
  .btn-secondary:hover {
    background-color: #155799;
    border: 0.1em solid #159957;
  }
}

.card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5%;
  -webkit-box-shadow: 4px 0px 6px 0px #159957;
          box-shadow: 4px 0px 6px 0px #159957;
  overflow: hidden;
  margin: 1em;
  padding: 1em;
}

.card__title > h2 {
  color: #155799;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.6rem;
}

.card__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.card__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  padding: 10px;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
}

.card__rating > svg {
  font-size: 2em;
  color: orange;
  margin-right: 0.2em;
}

.card .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1em;
}

.card .btn-item__primary {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #159957;
  background-color: #1c76cf;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.itemListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1.75rem;
          flex: 0 1 1.75rem;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-btn__burger {
  font-size: 1.7rem;
  color: white;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.98;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(47deg, #155799, #159957);
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .menu-nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav .menu-nav__item {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .menu-nav__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: white;
}

.nav .menu-nav__link {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .menu-nav__link:hover {
  color: orange;
}

.nav .menu-nav__link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 2rem;
  background: #159957;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .menu-nav__link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  background: #159957;
  width: 100%;
}

.cartCount {
  position: absolute;
  text-align: center;
  background-color: #0f3e6c;
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  top: 15px;
  right: -23px;
  border-radius: 50%;
  padding: 0.05em;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.singleProduct {
  height: auto;
  padding: 0;
  margin: 5rem 1rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
}

.singleProduct__left {
  padding: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
  height: 50%;
}

.singleProduct__left img {
  max-width: 85%;
}

.singleProduct__right {
  height: auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  text-align: start;
}

.singleProduct__right__title {
  color: #155799;
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0.6rem;
  margin-bottom: 2rem;
}

.singleProduct__right__description {
  margin-top: 0.5rem;
  text-indent: 1.8%;
}

.singleProduct__right__description h5 {
  font-size: 30px;
  margin-bottom: 1em;
  word-break: normal;
  font-weight: 400;
}

.singleProduct__right__description p {
  line-height: 1.4em;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  word-break: break-word;
}

.singleProduct__right__itemCount {
  padding: 1em;
}

.btn-BuyNow {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #159957;
  background-color: #1c76cf;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .btn-primary:hover {
    background-color: #159957;
    border: 0.1em solid #155799;
  }
  .btn-secondary:hover {
    background-color: #155799;
    border: 0.1em solid #159957;
  }
}

.cartContainer__noItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  height: auto;
  width: 80%;
  background: white;
  margin: 200px auto;
}

.cartContainer__noItems > svg {
  color: #155799;
  font-size: 9rem;
}

.cartContainer__noItems > h3 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 1em;
}

.cartContainer__noItems > a {
  padding-bottom: 1rem;
}

.cartContainer__Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  height: auto;
  width: 100%;
  margin: 150px auto;
}

.cartContainer__Items .item {
  padding: 0.5rem;
  margin-bottom: -30px;
  background: white;
  width: 100%;
  min-width: 100vw;
}

.cartContainer__Items .item__container {
  overflow: hidden;
  padding: 15px;
  border-bottom: 1px solid #9df2c7;
}

.cartContainer__Items .item__image {
  overflow: hidden;
  margin: 0 16px 0 0;
  float: left;
}

.cartContainer__Items .item__image > img {
  vertical-align: middle;
  width: 60px;
  aspect-ratio: auto 60/ 60;
  height: auto;
}

.cartContainer__Items .item__information {
  overflow: hidden;
  zoom: 1.1;
}

.cartContainer__Items .item__information__title {
  line-height: 1;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  overflow: hidden;
  margin-bottom: 2px;
}

.cartContainer__Items .item__information-main {
  line-height: 1.25;
  font-size: 14px;
  color: #999999;
  margin-bottom: 16px;
  overflow: hidden;
}

.cartContainer__Items .item__footer {
  clear: both;
  overflow: hidden;
  margin-top: 16px;
}

.cartContainer__Items .item__footer__price {
  max-width: 70%;
  float: right;
  font-size: 18px;
  font-weight: 300;
  text-align: right;
  margin: 0;
}

.cartContainer__Items .item__actions {
  padding: 16px;
}

.cartContainer__Items .item__actions-container {
  width: calc(100% +15px);
  line-height: 1.25;
  overflow: hidden;
}

.cartContainer__Items .item__actions-container > li {
  float: left;
  list-style: none;
  display: list-item;
}

.cartContainer__Items .cart__footer {
  background-color: #fff;
  height: 200px;
  width: 100%;
}

.cartContainer__Items .cart__footer-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #9df2c7;
  padding: 16px;
  margin-bottom: 16px;
}

.btn-cart__clear {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #159957;
  background-color: #1c76cf;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-cart__action {
  display: inline-block;
  padding: 0.35em 1.2em 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  color: #1c76cf;
  cursor: pointer;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
    position: none;
  }
  .nav {
    visibility: visible;
    position: relative;
  }
  .nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: auto;
    background: white;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    position: relative;
    margin-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
    color: #155799;
    text-decoration: none;
  }
  .nav .menu-nav__link:hover {
    color: orange;
  }
  .nav .menu-nav__link::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 27px;
    background: #159957;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .nav .menu-nav__link:hover::before {
    content: "";
    background: #1bc671;
    width: 100%;
    height: 1px;
  }
  .nav .menu-nav__link > span {
    color: white;
  }
  .card__title {
    position: relative;
    color: #155799;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .card__title:hover {
    color: #cee3f8;
    cursor: default;
  }
  .card__title::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: #159957;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .card__title:hover::before {
    content: "";
    background: #1bc671;
    width: 100%;
    height: 2.5px;
  }
  .card__title::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #159957;
    width: 0;
    height: 2.5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .card__title:hover:after {
    content: "";
    background: #1bc671;
    width: 100%;
    height: 2.5px;
  }
  .card__rating > svg {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .card__rating > svg:hover {
    font-size: 29px;
  }
}

@media screen and (min-width: 768px) {
  .btn-primary:hover {
    background-color: #159957;
    border: 0.1em solid #155799;
  }
  .btn-secondary:hover {
    background-color: #155799;
    border: 0.1em solid #159957;
  }
}

.itemCount__description {
  padding: 0 0 1rem 0;
}

.itemCount__description > h5 {
  padding-bottom: 0.5rem;
}

.btn-itemCount__increment {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #159957;
  background-color: #1c76cf;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-itemCount__decrement {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #155799;
  background-color: #1ccf76;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-itemCount__cart {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #159957;
  background-color: #1c76cf;
  margin: 0 0.3em 0.3em 0;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .btn-primary:hover {
    background-color: #159957;
    border: 0.1em solid #155799;
  }
  .btn-secondary:hover {
    background-color: #155799;
    border: 0.1em solid #159957;
  }
}

:root {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 27, 0.5)), to(rgba(27, 27, 27, 0.3))), url("/src/Images/body_BG_Image.jpg");
  background: linear-gradient(to right, rgba(27, 27, 27, 0.5), rgba(27, 27, 27, 0.3)), url("/src/Images/body_BG_Image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

a {
  color: white;
}

.loaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column, nowrap;
          flex-flow: column, nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}
/*# sourceMappingURL=App.css.map */