/* Variables*/
@import "config";

/*Componentes*/
@import "../Components/Header/Header";

@import "../Components/Item/Item";

@import "../Components/ItemListContainer/ItemListContainer";

@import "../Components/NavBar/NavBar";

@import "../Components/ItemDetail/ItemDetail";

#root {
  background: linear-gradient(
      to right,
      rgba(27, 27, 27, 0.5),
      rgba(27, 27, 27, 0.3)
    ),
    url("/src/Images/body_BG_Image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0;
}
// * {
//   border: 1px solid red;
// }
